.about {
    &_contain_inner {
        @extend %main-width;
        padding: min(3.25vmax, 1.875em) var(--padding-gor-size-sm);
    }
    &_bg_light-primary {
        background-color: #a4bd24;
    }
    &__inner {
        @extend %main-width;
        padding: min(3.25vmax, 1.875em) var(--padding-gor-size-sm);

        &_bg_half-image {
            display: flex;
            flex-direction: column;
            padding: 0;
            @include media(xl) {
                padding: 0 var(--padding-gor-size-sm);
                gap: min(2.5vmax, 2.5em);
                flex-direction: row;
            }
            &::after {
                flex: 0 0 min(40vmax, 30em);
                order: -1;

                content: "";
                display: block;
                background-image: url(../images/about__bg-image.jpg);
                background-position: 50% 50%;
                background-size: cover;
                @include media(xl) {
                    flex: 0 0 50%;
                }
            }
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: min(2.25vmax, 1.875em);

        @include media(md) {
            flex-direction: row;
        }
    }
    &__title {
        margin: 0;
        font-family: var(--font-headings);
        font-size: var(--title-size-lg);
        text-align: center;
    }
    &__text {
        .about__title {
            text-align: left;
        }
        p {
            font-family: var(--font-headings);
            font-size: var(--text-size-xl);
            line-height: 150%;
            @include media(lg) {
                line-height: 208%;
                max-width: min(30vmax, 22em);
            }
        }
    }
    &__image {
        align-self: start;
        margin-left: auto;
        object-fit: cover;

        order: -1;

        @include media(md) {
            order: unset;
            flex: 1 0 50%;
            max-width: 50%;
            aspect-ratio: 4/3;
        }

        @include media(lg) {
            aspect-ratio: 6.23/3.12;
        }
    }
    &__description {
        font-size: var(--text-size-xl);
        line-height: 157%;
        padding: 0 var(--padding-gor-size-sm);
        box-sizing: border-box;
        @include media(xl) {
            padding: 0;
            margin: min(3.25vmax, 1.875em) 0;
        }
    }
    &__list {
        @extend %reset-list;

        padding: 1.875em 0;
        box-sizing: border-box;

        display: grid;
        justify-content: center;
        gap: 2.5em 1.875em;

        @include media(xs) {
            gap: 5em 1.875em;
            grid-template-columns: repeat(auto-fit, min(40vw, 33em));
        }

        @include media(lg) {
            justify-content: space-between;
        }
    }
    // &__card {}
    &__card-image {
        object-fit: cover;
        aspect-ratio: 541/318;
    }
    &__card-title {
        margin: 0.75em 0;
        font-family: var(--font-headings);
        font-size: var(--title-size-sm);
    }
    &__slider {
        padding: min(3.25vmax, 1.875em) 0;

        .splide__arrows .splide__arrow {
            opacity: 1;
            @include box(min(4.875vmax, 4em));
            border-radius: 50%;
            border: 3px solid var(--primary);
            background-color: var(--primary);
            box-shadow: 0 0 15px 1px rgba(black, 0.54);

            & svg {
                @include box(1.875em);
                fill: black;
            }
        }
    }
    &__slider-track {
        @include media(sm) {
            position: relative;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                width: min(12vmax, 8em);
                display: inline-block;
            }

            &:before {
                left: 0;
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(white, 0) 100%);
            }

            &:after {
                right: 0;
                background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(white, 0) 100%);
            }
        }
    }
}

.slider-card {
    &__image {
        aspect-ratio: 288/419;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        margin: min(2vmax, 1.25rem) 0;
        font-size: var(--text-size-xl);
        font-weight: normal;
    }
}
