.footer {
    flex: none;
    background-color: var(--dark-background);

    &__wrap {
        @extend %main-width;

        display: flex;
        flex-direction: column;
        padding: 1em var(--padding-gor-size-sm);

        @include media(md) {
            flex-direction: row;
        }
    }
    &__author {
        text-align: center;
        margin: 0;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        font-size: var(--text-size-md);

        @include media(md) {
            text-align: right;
            align-self: end;
        }
    }
}
