.advantages {
    &__title {
        text-align: center;
        padding: min(4vmax, 3.125rem) min(2.25vmax, 1.875rem);
        background-color: var(--accent-light);
    }
    &__list {
        @extend %reset-list;
        display: grid;
        @include media(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        li:nth-child(even) {
            background-color: #88dddf;

            @include media(md) {
                .card__wrap {
                    margin-right: auto;
                }
            }
        }
        li:nth-child(odd) {
            background-color: #a4bd24;

            @include media(md) {
                .card__wrap {
                    margin-left: auto;
                }
            }
        }
    }
}

.card {
    display: flex;
    &__wrap {
        max-width: min(50vmax, 30em);
        padding: min(4vmax, 4em) min(4vmax, 4em) 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;

        @include media(md) {
            margin: unset;
        }

        @include media(xl) {
            align-items: start;
            max-width: calc(var(--main-width) / 2);
            padding: min(4vmax, 4em) min(10vmax, 7.5em) 0;
        }
    }
    &__image {
        display: block;
        width: min(25vmax, 21.25em);
        margin-bottom: min(2.5vmax, 2.375em);
    }
    &__title {
        margin: 0 0;
        font-family: var(--font-headings);
        font-size: min(3.25vmax, 2.1875em);
        font-weight: normal;
    }
    &__text {
        font-size: 1.25em;
        line-height: 1.5;
    }
}
