.menu {
    flex: auto;

    &_place_header {
        @include media(md, max) {
            position: relative;
        }
        &.menu_opened .menu__inner {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            pointer-events: unset;
        }
        .menu__inner {
            box-sizing: border-box;

            @include media(xs, max) {
                position: fixed;
                inset: 0;
                min-height: 100vh;
                width: unset;
                border-radius: 0;
                box-shadow: unset;

                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include media(md, max) {
                position: absolute;
                top: 100%;
                right: 0;
                width: 15em;
                box-shadow: 0 0 15px rgba(black, 0.15);
                border-radius: 10px;
                background-color: white;
                padding: 1em;

                transition: all 0.35s ease-in-out;
                transform: translateY(-0.5em);
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }

            @include media(md) {
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: auto auto;

                min-height: 5.5625em;
                padding: 1em min(2vmax, 2em);
            }
            @include media(lg) {
                grid-template-columns: 1fr min-content 0.85fr;
            }
        }
        .menu__list {
            @include media(md) {
                display: flex;
            }
            @include media(lg) {
                gap: 1em min(2vmax, 2em);
                &_align_left {
                    margin-right: auto;
                }
                &_align_right {
                    margin-left: auto;
                }
            }
        }
    }
    &_place_footer {
        .menu__inner {
            padding: 1em min(2vmax, 2em) 0;
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto;

            @include media(md) {
                grid-template-columns: minmax(20vmax, 35em) auto;
            }
        }
        .menu__list {
            display: flex;
            flex-direction: column;

            @include media(sm) {
                flex-direction: row;
            }
        }
        .menu__link {
            padding: min(1.25vmax, 0.875em) min(3vmax, 2.25em);
        }
    }
    &__list {
        @extend %reset-list;
    }
    &__link {
        color: inherit;
        text-decoration: none;
        display: block;
        font-size: var(--text-size-lg);
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        &:hover {
            color: var(--primary);
        }

        @include media(xs, max) {
            font-size: min(3vmax, 1.5em);
        }
    }
}
