.menu {
    position: relative;
    flex: auto;

    &__wrap {
        @media screen and (max-width: 479px) {
            position: fixed;
            inset: 0;
            width: 100%;
            min-height: 100vh;
            border-radius: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 839px) {
            position: absolute;
            top: 100%;
            right: 0;
            width: 15em;
            padding: 1em;
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0 0 15px rgba(black, 0.15);
            border-radius: 10px;
            overflow: hidden;

            transition: all 0.35s ease-in-out;
            transform: translateY(-0.5em);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            &_opened {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                pointer-events: unset;
            }
        }
        @media screen and (min-width: 840px) {
            position: static;
            width: unset;

            display: grid;
            align-items: center;
            grid-template-columns: auto auto 1fr;

            min-height: 5.5625em;
            padding: 1em min(2vmax, 2em);
            box-sizing: border-box;
        }
        @include media(lg) {
            grid-template-columns: 1fr min-content 0.85fr;
        }
    }

    &__list {
        @extend %reset-list;
        @media screen and (min-width: 840px) {
            display: flex;
        }
        @include media(lg) {
            gap: 1em min(2vmax, 2em);
        }

        &_align_left {
            @include media(lg) {
                margin-right: auto;
            }
        }
        &_align_right {
            @include media(lg) {
                margin-left: auto;
            }
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
        display: block;
        font-size: 1.125em;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        &:hover {
            color: var(--primary);
        }

        @media screen and (max-width: 479px) {
            font-size: 1.5em;
        }
    }
    .logo {
        @media screen and (max-width: 479px) {
            order: -1;
            margin-top: 15vmax;
        }
        @media screen and (min-width: 480px) {
            display: none;
        }
        @media screen and (min-width: 840px) {
            display: block;
            grid-area: 1/1/2/2;
        }
        @include media(lg) {
            grid-area: unset;
        }
    }
}
